:root {
  /*  TXT color */
  --primary-txt-cl: #2e2f42;
  --secondary-txt-cl: #434455;
  --light-txt-cl: #ffffff;
  --pressed-txt-cl: #404bbf;
  --footer-txt-cl: #e7e9fc;
  --btn-filter-txt-cl: #4d5ae5;
  --footer-input: rgba(255, 255, 255, 0.6);

  /* Logo color */
  --logo-darck-cl: #4d5ae5;
  --logo-light-cl: #f4f4fd;

  /* Colors bg */
  --primary-bg-cl: #ffffff;
  --secondary-bg-cl: #2e2f42;
  --grey-light-bg-cl: #f4f4fd;
  --pressed-bg-cl: #404bbf;
  --btn-cl: #4d5ae5;
  --icon-border-cl: #8e8f99;
  --icon-grey: rgba(255, 255, 255, 0.1);
  --icon-green: #31d0aa;
  --backdrop-gb-cl: rgba(46, 47, 66, 0.4);
  --modal-bg-cl: #fcfcfc;
  --modal-input-border-cl: rgba(33, 33, 33, 0.2);
  --modal-placeholder-txt-cl: rgba(117, 117, 117, 0.5);
  --modal-policy-txt-cl: #757575;

  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Card SET */
  --ident: 24px;
  --items: 3;

  /* Other */
  --trans-set: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*************** Загальні стилі ****************/
/* RESET */
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--primary-txt-cl);
  background-color: var(--primary-bg-cl);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
.list {
  list-style: none;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato;
  outline-offset: -2px; */
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-customers,
  .container-footer {
    padding: 0 108px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*  Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ident);
}
.items-set {
  flex-basis: calc((100% - var(--ident) * (var(--items) - 1)) / var(--items));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  /* font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center; */
}
.desc-txt {
  /* font-weight: 500; */
  line-height: 1.5;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 768px) {
  /* .title-txt {
    text-align: left;
  } */
}

@media screen and (min-width: 1200px) {
  /* .title-txt {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  } */
  /* .desc-txt {
    font-weight: 400;
  } */
}
.center-txt {
  text-align: center;
}

.btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;

  cursor: pointer;
  border: none;
}

.nav-link.current::after {
  content: '';
  position: absolute;

  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--pressed-txt-cl);
}

/********************** PAGE INDEX ********************/

/*------ header -------*/
.section-header {
  border-bottom: 1px solid var(--footer-txt-cl);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-bg-cl);
  z-index: 1000;
}

.logo-link {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-txt-cl);
  font-family: var(--secondary-font);
}
.logo-color {
  color: var(--logo-darck-cl);
}
.logo-link.second {
  color: var(--logo-light-cl);
  line-height: calc(21 / 18);
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 120px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 22px;

  font-weight: 500;
  line-height: 1.5;
  color: var(--primary-txt-cl);

  transition: color var(--trans-set);
}

.contact-link {
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--secondary-txt-cl);

  transition: color var(--trans-set);
}

.nav-link:hover,
.nav-link:focus,
.policy-link:hover,
.policy-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-txt-cl);
}
/* ----------------MOBILE MENU ------------- */
.mobile-menu-burger {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.mobile-container {
  position: fixed;
  z-index: 10000;

  top: 0;
  left: 0;

  width: 100%;
  min-width: 320px;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  padding: 80px 35px 40px 40px;
  /* outline: 1px solid tomato; */

  background: var(--light-txt-cl);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  transform: translateX(-100%);
  transition: transform var(--trans-set);
}
.mobile-container.is-open {
  transform: translateY(0);
}
.mobile.nav-list {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: auto;
}
.mobile.nav-link {
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111;
}
.current-mobile {
  color: var(--pressed-txt-cl);
}
.mobile.contact-list {
  gap: 40px;
  margin-bottom: 48px;
  flex-direction: column-reverse;
}
.mobile-tel.contact-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--btn-filter-txt-cl);
}
.mobile-email.contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

.mobile.list-social-media {
  gap: 0px;
  max-width: 328px;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav-list.hidden,
  .contact-list.hidden {
    display: none;
  }
  .section-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-burger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .logo-link {
    line-height: 1.33;
  }
  .header-nav {
    gap: 76px;
  }
  .nav-link {
    padding-bottom: 28px;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

/*------------- hero -------------*/
.section-hero {
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--secondary-bg-cl);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/img_mob_428_1x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero {
  background-color: var(--secondary-bg-cl);
  text-align: center;
}
.hero-title {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--light-txt-cl);
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--light-txt-cl);
  background-color: var(--btn-cl);

  transition: background-color var(--trans-set);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-bg-cl);
}

@media screen and (max-width: 767px) {
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/img_mob_856_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;

    width: 496px;
  }
  .section-hero {
    padding-bottom: 108px;
    max-width: 768px;
  }

  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/img_tab_768_1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/img_tab_1536_2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/img_desk_1440_1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/img_desk_2880_2x.jpg);
    }
  }
}

/*---------------  ADVANTAGS -----------------*/
.section-advantags {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantags-icon-container {
  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 112px;
  margin-bottom: 8px;

  border-radius: 4px;
  background-color: var(--grey-light-bg-cl);
}
.advantags-list {
  --ident: 72px;
  --items: 1;
}

.advantags-title {
  margin-bottom: 8px;
}

@media screen and (max-width: 1199px) {
  .advantags-title.title-txt {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: left;
  }
  .desc-txt {
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .advantags-title.title-txt {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .advantags-icon-container {
    display: flex;
  }
  .advantags-list {
    --ident: 24px;
    --items: 2;

    row-gap: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .section-advantags {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantags-list {
    --items: 4;
  }
}
/*----------------- Styles for PRODUCT ----------------*/
.section-product {
  padding-bottom: 120px;
  display: none;
}
.product-title,
.customers-title,
.team-title {
  margin: 0 auto 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
}
@media screen and (min-width: 1200px) {
  .section-product {
    display: block;
  }
}

/*------------------- Our Team  ----------------*/
.section-team {
  padding-top: 96px;
  padding-bottom: 128px;
}
.team {
  background-color: var(--grey-light-bg-cl);
}
.team-list {
  --items: 1;
  --ident: 72px;
  justify-content: center;
}

.team-item {
  background-color: var(--primary-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  flex-basis: auto;
}
.team-item-footer {
  padding: 32px 16px;
}
.team-name {
  margin-bottom: 8px;
}

.team-position {
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .team-list {
    --items: 2;
    --ident: 24px;
    row-gap: 64px;
  }
  .section-team {
    padding-bottom: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    --items: 4;
    row-gap: 0px;
  }
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* -------- == SOCIAL MEDIA  SET == ---------- */
.list-social-media {
  display: flex;
  gap: 24px;
}
.item-social-media {
  width: 40px;
  height: 40px;
}

.link-social-media {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--logo-darck-cl);

  fill: #ffffff;

  transition: background-color var(--trans-set);
}
.link-social-media:focus,
.link-social-media:hover {
  background-color: var(--pressed-bg-cl);
}

/* ------------------ Customers == section == ---------------- */
.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-list {
  --items: 2;
  --ident: 16px;
  row-gap: 72px;
}
.item-customers {
  height: 88px;
}
.link-customers {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--icon-border-cl);
  border-radius: 4px;

  fill: var(--icon-border-cl);
  transition: fill var(--trans-set), border-color var(--trans-set);
}

.link-customers:focus,
.link-customers:hover {
  border-color: var(--pressed-bg-cl);
  fill: var(--pressed-bg-cl);
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .customers-list {
    --items: 3;
    --ident: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    --items: 6;
    row-gap: 0;
  }
  section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/*----------------- Footer  ---------------------*/
.section-footer {
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer {
  background-color: var(--secondary-bg-cl);
}
.logo-link.footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-desc {
  color: var(--footer-txt-cl);
  max-width: 264px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 72px;
}
.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-title,
.footer-subscribe-title {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--light-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.list-social-media.footer {
  gap: 16px;
}
.link-social-media.footer {
  fill: var(--logo-light-cl);
  background-color: var(--icon-grey);
}
.link-social-media.footer:focus,
.link-social-media.footer:hover {
  background-color: var(--icon-green);
}
/* **************** footer-subscribe ****************** */
.footer-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-subscribe-title {
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
}
.footer_input {
  width: 100%;

  padding: 7px 15px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--footer-input);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
}

.footer_submit {
  padding: 7px 23px;
  display: flex;
  align-items: center;
}
.icon-subscribe {
  fill: var(--primary-bg-cl);
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .footer-logo {
    align-items: flex-start;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    gap: 24px;
    row-gap: 72px;
  }
  .footer-social-media {
    align-items: flex-start;
  }

  .footer-subscribe {
    width: auto;
    display: block;
  }
  .subscribe-form {
    gap: 24px;
    flex-direction: row;
  }
  .footer_input {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .section-footer {
    padding: 100px 0;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-right: 3px;
    gap: 0;
  }
  .footer-logo {
    margin-right: 120px;
  }
  .footer-social-media {
    margin-right: 80px;
  }
  .footer-subscribe {
    flex-grow: 1;
  }

  .subscribe-form {
    gap: 16px;
    width: 100%;
  }
  .footer_input {
    flex-grow: 1;
  }
}
/*=============== PORTFOLIO ======================*/

.btn.filter {
  color: var(--btn-filter-txt-cl);
  background-color: var(--grey-light-bg-cl);

  transition: color var(--trans-set), background-color var(--trans-set),
    border-color var(--trans-set), box-shadow var(--trans-set);
}
.btn.filter:hover,
.btn.filter:focus {
  color: var(--light-txt-cl);
  background-color: var(--pressed-bg-cl);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio-hero {
  padding: 48px 0 48px;
}

.control-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: var(--ident);
  row-gap: 16px;
  margin-bottom: 48px;
}

.control-list .filter {
  padding: 12px 24px;
  border: 1px solid var(--footer-txt-cl);
  border-radius: 4px;
}

.portfolio-footer-card {
  padding: 32px 16px;
  border-left: 1px solid var(--footer-txt-cl);
  border-right: 1px solid var(--footer-txt-cl);
  border-bottom: 1px solid var(--footer-txt-cl);
}
.portfolio-footer-card .title-txt {
  margin-bottom: 8px;
}

.portfolio-item {
  background: var(--primary-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow var(--trans-set);
}

.portfolio-item:focus,
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-footer-card {
  border-color: var(--grey-light-bg-cl);
}

.portfolio-item:hover .card-overlay {
  transform: translateY(0);
}
.portfolio-item .title-txt {
  color: var(--primary-txt-cl);
}

.portfolio-list {
  flex-direction: column;
  --items: 1;
  --ident: 48px;
}
.img-box {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;
  line-height: 1.5;
  color: var(--grey-light-bg-cl);

  background-color: var(--logo-darck-cl);

  transform: translateY(100%);
  transition: transform var(--trans-set);
}

@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .section-portfolio-hero {
    padding: 64px 0 96px;
  }
  .control-list {
    flex-wrap: nowrap;
    justify-content: center;
    row-gap: 0px;
    margin-bottom: 64px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    --items: 2;
    --ident: 24px;
    row-gap: 72px;
  }
  .img-portfolio {
    height: 300px;
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .section-portfolio-hero {
    padding: 96px 0 120px;
  }
  .control-list {
    margin-bottom: 72px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    --items: 3;
    row-gap: 48px;
  }
}
/* ================ Modal ==================== */
.backdrop {
  position: relative;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: var(--backdrop-gb-cl);
  transition: opacity var(--trans-set), visibility var(--trans-set);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 16px 24px 16px;
  width: 392px;
  height: 576px;
  border-radius: 4px;
  background-color: var(--modal-bg-cl);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition-delay: 150ms;
  transition: transform var(--trans-set), opacity var(--trans-set);
}
.icon-modal {
}
.btn-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: #000000;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--footer-txt-cl);

  transition: background-color var(--trans-set), border-color var(--trans-set),
    fill var(--trans-set);
}

.btn-modal-close:focus,
.btn-modal-close:hover {
  background-color: var(--pressed-txt-cl);
  border-color: transparent;
  fill: var(--light-txt-cl);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  transition-delay: 50ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -80%);
}
@media screen and(min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
  }
}

/* ********** MODAL - FORM - input ************ */
.modal-title {
  align-self: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.group-field {
  width: 100%;
  margin-bottom: 8px;
}

.modal-lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--icon-border-cl);
}
.input-wrapper {
  position: relative;
}
.modal-input {
  width: 100%;
  padding: 8px 38px;

  border: 1px solid var(--modal-input-border-cl);
  border-radius: 4px;
  transition: border-color var(--trans-set);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);
  transition: fill var(--trans-set);
}
.modal-input:focus {
  outline: none;
  border-color: var(--btn-cl);
}
.modal-input:focus + .modal-form-icon {
  fill: var(--btn-filter-txt-cl);
}

.massage-field {
  margin-bottom: 16px;
}

.massage-input {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding-left: 16px;
}
.massage-input::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33;
  color: var(--modal-placeholder-txt-cl);
}

.policy-field {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.policy-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1.25px solid var(--secondary-bg-cl);
  border-radius: 2px;

  transition: border-color var(--trans-set), background var(--trans-set),
    border var(--trans-set);
}
.input-policy:focus + .policy-icon-wrapper {
  border-color: var(--btn-cl);
}

.input-policy:checked + .policy-icon-wrapper {
  background: var(--pressed-bg-cl);
  border: transparent;
}

.policy-icon {
  opacity: 0;
  transition: opacity var(--trans-set), fill var(--trans-set);
}
.input-policy:checked + .policy-icon-wrapper .policy-icon {
  opacity: 1;
  fill: var(--grey-light-bg-cl);
}

.policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--modal-policy-txt-cl);
}

.policy-link {
  color: var(--btn-filter-txt-cl);
  transition: color var(--trans-set);
}

.modal-btn {
  align-self: center;
  min-width: 169px;
}
